version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: backend.Dockerfile
    container_name: removebg-backend
    ports:
      - "5000:5000"

  frontend:
    build:
      context: .
      dockerfile: frontend.Dockerfile
    container_name: removebg-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend

